imap_host = "{{ rainloop_domain_config.imap_host }}"
imap_port = {{ rainloop_domain_config.imap_port }}
imap_secure = "{{ rainloop_domain_config.imap_secure }}"
imap_short_login = {{ rainloop_domain_config.imap_short_login }}
sieve_use = {{ rainloop_domain_config.sieve_use }}
sieve_allow_raw = {{ rainloop_domain_config.sieve_allow_raw }}
sieve_host = "{{ rainloop_domain_config.sieve_host }}"
sieve_port = {{ rainloop_domain_config.sieve_port }}
sieve_secure = "{{ rainloop_domain_config.sieve_secure }}"
smtp_host = "{{ rainloop_domain_config.smtp_host }}"
smtp_port = {{ rainloop_domain_config.smtp_port }}
smtp_secure = "{{ rainloop_domain_config.smtp_secure }}"
smtp_short_login = {{ rainloop_domain_config.smtp_short_login }}
smtp_auth = {{ rainloop_domain_config.smtp_auth }}
smtp_php_mail = {{ rainloop_domain_config.smtp_php_mail }}
