imap_host = {{ rainloop_domain_config.imap_host | default('localhost') }}
imap_port = {{ rainloop_domain_config.imap_port | default(993) }}
imap_secure = {{ rainloop_domain_config.imap_secure | default('SSL') }}
imap_short_login = {{ rainloop_domain_config.imap_short_login | default('Off') }}
sieve_use = {{ rainloop_domain_config.sieve_use | default('Off') }}
sieve_allow_raw = {{ rainloop_domain_config.sieve_allow_raw | default('Off') }}
sieve_host = {{ rainloop_domain_config.sieve_host | default('') }}
sieve_port = {{ rainloop_domain_config.sieve_port | default(4190) }}
sieve_secure = {{ rainloop_domain_config.sieve_secure | default('None') }}
smtp_host = {{ rainloop_domain_config.smtp_host | default('localhost') }}
smtp_port = {{ rainloop_domain_config.smtp_port | default(465) }}
smtp_secure = {{ rainloop_domain_config.smtp_secure | default('SSL') }}
smtp_short_login = {{ rainloop_domain_config.smtp_short_login | default('Off') }}
smtp_auth = {{ rainloop_domain_config.smtp_auth | default('On') }}
smtp_php_mail = {{ rainloop_domain_config.smtp_php_mail | default('Off') }}
